@import url('https://fonts.googleapis.com/css?family=Exo:100,400,500');

* {
  font-family: 'Exo', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  width: 1519.2px;
  background-color: #dedede;
}

header {

  background-image: url("../images/hall.jpg");
  background-size: cover;
  position: relative;
height: 800px;


}

#nav_menu {
  position: absolute;
margin-left: 1000px;
margin-top: 20px;

}

ul li {
z-index: 999;
float: left;
  color: #ffffff;
  list-style-type: none;
  display: inline;
  padding-right: 20px;
  padding-left: 19px;
  border-right: 1px solid #ffffff;

}

ul li:last-child {
  border-right: none;
}


#title {
  position: absolute;
  color: #ffffff;
  font-family: 'Exo', sans-serif;
  font-weight: 100;
  font-size: 60px;
  width: 620px;
  word-spacing: 10px;
  letter-spacing: 3px;
  text-align: center;
  margin-top: 280px;
  margin-left: 462px;
}

i {
  position: absolute;
  color:  rgb(235, 61, 15);
margin-top: 480px;
margin-left: 730px;
opacity: 0.75;

}


#try {
  position: absolute;
  float: left;
  width: 210.2px;
  height: 60px;
  background-color: rgb(235, 61, 15);
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  line-height: 60px;
  opacity: 0.8;
  border-radius: 8%;
  margin-left: 653px;
  margin-top: 570px;
}

#how {
  color: #ffffff;
  font-size: 14px;
  position: absolute;
  float: left;
  margin-top: 635px;
  margin-left: 679px;
  opacity: 0.75;
}
